---
title: О Shvargon IT
---

# {title}

Привет, меня зовут Валерий Шваргонов, и я создал этот сайт для ведения своего блога и обучения в области IT. Я делюсь своими знаниями и опытом, чтобы помочь тем, кто хочет войти и развиваться в этой сфере. Все исходники проекта доступны на моём GitHub, а сам сайт работает на GitHub Pages.

Для создания сайта были использованы:

- [**SvelteKit**](https://svelte.dev/)
- [**Tailwind**](https://tailwindcss.com/)
- [**DaisyUI**](https://v5.daisyui.com/)
- [**Lucide Svelte**](https://lucide.dev/guide/packages/lucide-svelte)
- [**mdsvex**](https://mdsvex.pngwn.io/)

Так что всем знающим и желающим внести свой вклад, будь то в материалы сайта, верстку или что-то другое — welcome, я буду рад вашему участию. Целью этого сайта является передача моего опыта в моём видении. Хотя таких ресурсов существует множество, я решил, что почему бы и нет? Пусть будет ещё один ресурс, который разложит не детально, но по полочкам многие моменты из IT-сферы.

Этот сайт не является средством массовой коммуникации и предназначен исключительно для обучения и обмена знаниями в области IT.
